.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutTop {
    width: 100%;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.heroText {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    text-align: left;
    color: white;
    padding: 15px 25px;
    max-width: 500px;
    line-height: 1.3;
}

.heroText h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    letter-spacing: 1px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.heroText p {
    font-size: 1.5rem;
    margin: 0;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.aboutContent {
    display: flex;
    align-items: center;
    gap: 50px;
    max-width: 1200px;
    margin: 40px auto;
    flex-wrap: wrap;
}

.aboutImageLeft img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.aboutText {
    flex: 1;
    min-width: 300px;
}

.aboutText h1 {
    font-style: italic;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutText h1,
.aboutText p {
    text-align: left;
}

@media (max-width: 768px) {
    .aboutImageSquare img {
        width: 90%;
        height: auto;
    }

    .aboutBottom h1 {
        font-size: 50px;
    }

    .aboutBottom p {
        font-size: 1rem;
    }
}

.navButton {

    bottom: 40px;

    right: 70px;


    padding: 12px 25px;
    background-color: #121619;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    border: none;
    border-radius: 10px;

    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;


}

.navButton:hover {
    background-color: #07090a;
    transform: scale(1.05);
}